<h1> Stations </h1>


<% @stations.each do |station| %>
<p>
Name: <%= station.station_name %><br>
Address: <%= station.street_address %><br>
Fuel Type: <%= station.fuel_type_code %><br>
Distance: <%= station.distance %><br>
Access Times: <%= station.access_days_time %><br>
<br><br>
<% end %>
